body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
}

.logo {
    width: 150px; /* Adjust as needed */
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

.nav-btn {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #0056b3;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

#sidebar {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.manufacturer-list {
    display: flex;
    flex-direction: column;
}

.manufacturer-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    width: 100%;
}

.manufacturer-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vehicle-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
